<h1>Movie Lists</h1>
<%= link_to "New!", new_list_path %>
<div class="row">
  <%# <ul> %>
    <% @lists.each do |list| %>
      <%# <li> %>
      <div class="col-12 col-md-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, class: "card-img-top", alt:"sweet seo" %>
          <% end %>
          <div class="card-body">
            <h3><%= link_to list.name, list, class:"text-decoration-none" %></h3>
            <div class="d-flex justify-content-between">
              <p><%= link_to 'edit', edit_list_path(list), class:"btn btn-outline-warning btn-sm" %></p>
              <p><%= link_to 'delete',
                lists_path(list),
                method: :destroy,
                data: { confirm: "Are you sure?" },
                class:"btn btn-outline-danger btn-sm" %></p>
            </div>
          </div>
        </div>
      </div>
      <%# </li> %>
    <% end %>
  <%# </ul> %>
</div>
