<div>
  <%# style="background-image: url(<%= cl_image_path(@list.photo.key)%>
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key%>
  <% end %>
  <h1 class="display-4 text-white"><%= @list.name %></h1>
  <%= link_to "delete",
    list_path(@list),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  <%= link_to "edit", edit_list_path %>
</div>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> <%= bookmark.comment %> <br>
    <%= bookmark.movie.title %> <br>
    <%= link_to "delete",
      bookmark_path(bookmark),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>

<%= link_to "add bookmark", new_list_bookmark_path(@list)  %>

<%= link_to "back", lists_path  %>
